<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cocktail lista</title>
</head>
<body>         	
	<h2>Cocktailit</h2>	
	<table class="table table-striped">
		<tr>
		    <th>Cocktailit</th>
		    <th></th>
		    <th></th>		    		    
		</tr>  
    	<tr th:each = "cocktail : ${cocktailit}">
    		<td th:text="${cocktail.nimi}"></td>
    		    
    		<td><a th:href="@{/cocktailit/{id}(id=${cocktail.cocktailId})}" class="btn btn-info">Näytä</a></td>
    		<td><a th:href="@{/muutacocktail/{id}(id=${cocktail.cocktailId})}" class="btn btn-info">Muuta</a></td>
    		<td><a th:href="@{/poistacocktail/{id}(id=${cocktail.cocktailId})}" class="btn btn-danger">Poista</a></td>   					   		
    	</tr>
     </table>
     <a href="/lisaacocktail" class="btn btn-success">Lisää uusi cocktail</a>
     <a href="/lisaaraakaaine/-1" class="btn btn-success">Lisää uusi raaka-aine</a>
     <a href="/lisaa-ainesosa" class="btn btn-success">Lisää uusi ainesosa </a>           
</body>
</html>