<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>	
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cocktaillista</title>
	</head>
	<body>		 
		<div class="row">
			<div class="col-sm-4">
		 		<h2>Cocktaillista</h2>
			 </div>		
			<div class="col-sm-4">
				<div th:if="${#httpServletRequest.remoteUser}!=null" >
					<div align="center">	
						<h3 th:inline="text">Kirjautuneena: [[${#httpServletRequest.remoteUser}]]</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-4">				
				<div style="float:right" th:if="${#httpServletRequest.remoteUser}!=null">
					<form th:action="@{/logout}" method="post">
			        	<input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
			    	</form>
			    </div>		    
		    	<div style="float:right" th:if="${#httpServletRequest.remoteUser}==null" >		    	
					<a th:href="@{/login}" class="btn btn-primary">Kirjaudu sisään</a>	
			    </div>
		    </div>		
		</div>		
		<table class="table table-condensed">
			<tr>
			    <th>Cocktailit</th>
			    <th></th>
			    <th sec:authorize="hasAuthority('ADMIN')"></th>
			    <th sec:authorize="hasAuthority('ADMIN')"></th>		    		    
			</tr>  
	    	<tr th:each = "cocktail : ${cocktailit}">
	    		<td th:text="${cocktail.nimi}"></td>	    		    
	    		<td><a th:href="@{/cocktailit/{id}(id=${cocktail.cocktailId})}" class="btn btn-info">Näytä</a></td>
	    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/muutacocktail/{id}(id=${cocktail.cocktailId})}" class="btn btn-success">Muuta</a></td>
	    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/poistacocktail/{id}(id=${cocktail.cocktailId})}" class="btn btn-danger">Poista</a></td>   					   		
	    	</tr>
	     </table>
	     <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/lisaacocktail}" class="btn btn-success">Lisää uusi cocktail</a>
	     <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/lisaaraakaaine/-1}" class="btn btn-success">Lisää uusi raaka-aine</a>
	     <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/lisaa-ainesosa}" class="btn btn-success">Lisää uusi ainesosa </a>           
	</body>
</html>