<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>	
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cocktail lista</title>
	</head>
	<body>	
		<div class="row">
			<div class="col-sm-4">
		 		<h2>Cocktailit</h2>
			 </div>		
			<div class="col-sm-4">
				<div th:if="${#httpServletRequest.remoteUser}!=null" >
					<div align="center">	
						<h3 th:inline="text">Kirjautuneena: [[${#httpServletRequest.remoteUser}]]</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-4">				
				<div style="float:right" th:if="${#httpServletRequest.remoteUser}!=null">
					<form th:action="@{/logout}" method="post">
			        	<input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
			    	</form>
			    </div>		    
		    	<div style="float:right" th:if="${#httpServletRequest.remoteUser}==null" >		    	
					<a th:href="@{/login}" class="btn btn-primary">Kirjaudu sisään</a>	
			    </div>
		    </div>		
		</div>	    	     
		<table class="table table-bordered">
		    <tr>
		    	<th>Nimi</th>   
		     	<td th:text="*{cocktail.nimi}"></td>     	
		    </tr>
		    <tr>
		    	<th>Hinta</th>   
		     	<td th:text="*{cocktail.hinta}"></td>     	
		    </tr>
		    <tr>
		     	<th>Lasimalli</th>   
		     	<td th:text="*{cocktail.lasi.lasiMalli}"></td>     	
		    </tr>
		    <tr>
		    	<th>Jäät</th>   
		     	<td th:text="*{cocktail.jaa.jaaMalli}"></td>     	
		    </tr>
	    </table>
	    <h5>Ainekset</h5>
	    <table class="table table-bordered">
	    	<tr>
			    <th>Raaka-aine</th>
			    <th>Tyyppi</th> 
			    <th>Määrä</th> 
			    <th>Yksikkö</th>
			    <th sec:authorize="hasAuthority('ADMIN')"></th>
			    <th sec:authorize="hasAuthority('ADMIN')"></th>  
	   		</tr>
		    <tr th:each = "aines : ${aines}">
			   	<td th:text="${aines.ainesosa.ainesosaNimi}"></td>
			   	<td th:text="${aines.ainesosa.tyyppi.tyyppi}"></td>
			   	<td th:text="${aines.maara}"></td>
			   	<td th:text="${aines.tyyppi.tyyppi}"></td>
			   	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/muutaraakaaine/{id}(id=${aines.ainesId})}" class="btn btn-success">Muuta</a></td> 
			   	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/poistaraakaaine/{id}(id=${aines.ainesId})}" class="btn btn-danger">Poista</a></td>      					   		
		    </tr>         
	    </table>
	    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/lisaaraakaaine/{id}(id=${cocktail.cocktailId})}" class="btn btn-success">Lisää uusi Raaka-aine</a>
		<a th:href="@{/cocktaillista}" class="btn btn-primary">Palaa valikkoon</a>     
	</body>
</html>