<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Book store login</title>
    </head>
    <body>        
        <form th:action="@{/login}" method="post">
            <div><label> Käyttäjänimi : <input type="text" name="username"/> </label></div>
            <div><label> Salasana: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Kirjaudu sisään"/></div>
        </form>
        <div th:if="${param.error}">
            Väärä käyttäjänimi tai salasana!
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
    </body>
</html>